@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
body {
  padding: 0;
  background: #eee;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
  /* display: flex; */
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
  /* text-align: center; */
  color: #f9f7cf;
}

.difCol {
  color: #edf285;
}

.mission {
  width: 250px;
  position: absolute;
  top: 450px;
  left: 380px;
  color: #333;
}

.vision {
  width: 250px;
  position: absolute;
  top: 650px;
  left: 380px;
  color: #333;
}

.modeDesc {
  width: 300px;
  position: absolute;
  top: 600px;
  left: 10px;
  color: #edf285;
}

.sudo {
  font-size: 8px;
  position: absolute;
  top: 30px;
  color: #eee;
}

.ref {
  position: absolute;
  top: 100px;
  right: 10px;
  color: #eee;
  width: 200px;
  font-size: x-small;
}

.Ref {
  font-size: 16px;
}

.container {
  /* display: flex; */
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
  position: relative;
}

.marketing {
  right: 550px;
  top: 420px;
  font-size: 11.4px;
  /* left: 310px;  */
  position: absolute;
  width: 230px;
  height: 380px;
  padding: 6px;
  background: #fff;
  /* margin: 80px auto; */
}

.hr {
  top: 18px;
  left: 18px;
  position: absolute;
  width: 230px;
  height: 430px;
  padding: 6px;
  background: #fff;
  /* margin: 80px auto; */
}

.strategy {
  font-size: 10px;
  left: 630px;
  top: 18px;
  /* left: 310px;  */
  position: absolute;
  width: 230px;
  height: 380px;
  padding: 6px;
  background: #fff;
  /* margin: 80px auto; */
}
.finance {
  right: 250px;
  top: 18px;
  /* left: 310px;  */
  position: absolute;
  width: 230px;
  height: 380px;
  padding: 6px;
  background: #fff;
  /* margin: 80px auto; */
}

.operations {
  right: 250px;
  top: 420px;
  /* left: 310px;  */
  position: absolute;
  width: 230px;
  height: 380px;
  padding: 6px;
  background: #fff;
  /* margin: 80px auto; */
}
.key {
  top: 18px;
  left: 325px;
  position: absolute;
  width: 230px;
  height: 430px;
  padding: 6px;
  background: #fff;
  /* margin: 80px auto; */
}

.shadow-top {
  position: absolute;
  left: -50px;
  width: 0;
  height: 0;
  border-bottom: 36px solid #bbb;
  border-left: 50px solid transparent;
}

.shadow-bottom {
  position: absolute;
  left: -50px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 20px solid #aaa;
  border-left: 50px solid transparent;
}

.canvas {
  /* padding: 30px; */
  width: 230px;
  height: 380px;
  /* background: #fc6e51; */
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: inset -2px 0 #777;
  padding-left: 10px;
}

.canvass {
  /* padding: 30px; */
  width: 230px;
  height: 430px;
  /* background: #fc6e51; */
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: inset -2px 0 #777;
  padding-left: 10px;
}

.mode {
  position: absolute;
  top: 500px;
  left: 50px;
  color: #eee;
}

.workhard {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
  color: #ffc85c;
}

.sign {
  font-size: 3px;
}

a,
.ground p {
  color: #222;
  line-height: 0;
}

.mysite {
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0, 0.5);
  border-bottom: solid 1px rgba(0, 0, 0, 0, 0.5);
  position: fixed;
  bottom: 10px;
  right: 10px;
  line-height: 20px;
}
